<!-- [INÍCIO] SECTION - STORY
  ================================================== -->
<section class="multiuse-pages-section-story">
  <div class="container-fluid">
    <div class="container">

      <h1 class="font-weight-bold text-center h1">Conheça nossa Diretoria</h1>
      <div class="bg-dark" style="width: 100px; height: 5px; margin: 10px auto 50px; border-radius: 10px;"></div>

      <!--Section description-->
      <p class="text-center mb-5 mx-auto w-responsive lead">
        Breve descrição sobre o que é a Diretoria</p>
    </div>
  </div>
</section>

<style>
  .multiuse-pages-section-story {
    background-color: #eeeeee;
    text-align: center;
    padding: 80px 0;
  }
</style>
<!-- [FINAL] SECTION - STORY
  ================================================== -->

<!-- [INÍCIO] SECTION - CARD
  ================================================== -->
<section class="multiuse-pages-section-card-4-col">
  <div class="container-fluid">
    <div class="container">
      <div class="row">

        <!-- /.CARD 1 DE 3-->
        <div class="col-lg-3">
          <div class="card mb-4 shadow-sm">
            <div class="multiuse-pages-section-card-4-col-img"
              style="background-image:url(https://i.ibb.co/Xk1npvC/erenimiranda.jpg)">
            </div>
            <div class="card-body">
              <h3>Ereni Miranda</h3>
              <p class="card-text py-2">Presidente do Conselho Deliberativo</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="#"
                    class="btn mat-focus-indicator mat-stroked-button mat-button-base btn-outline-secondary">Detalhes</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- /.CARD 1 DE 3-->
        <div class="col-lg-3">
          <div class="card mb-4 shadow-sm">
            <div class="multiuse-pages-section-card-4-col-img"
              style="background-image:url(https://i.ibb.co/x1xxZK6/deboramiranda.jpg)">
            </div>
            <div class="card-body">
              <h3>Débora Miranda</h3>
              <p class="card-text py-2">Vice Presidente do Conselho Deliberativo</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="#"
                    class="btn mat-focus-indicator mat-stroked-button mat-button-base btn-outline-secondary">Detalhes</a>
                </div>
                <small class="badge-pill btn-secondary">Cantora</small>
              </div>
            </div>
          </div>
        </div>

        <!-- /.CARD 1 DE 3-->
        <div class="col-lg-3">
          <div class="card mb-4 shadow-sm">
            <div class="multiuse-pages-section-card-4-col-img"
              style="background-image:url(https://i.ibb.co/68bczxk/lourivaldealmeida.jpg)">
            </div>
            <div class="card-body">
              <h3>Lourival de Almeida</h3>
              <p class="card-text py-2">Secretário do Conselho Deliberativo</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="#"
                    class="btn mat-focus-indicator mat-stroked-button mat-button-base btn-outline-secondary">Detalhes</a>
                </div>
                <small class="badge-pill btn-secondary">Pastor</small>
              </div>
            </div>
          </div>
        </div>

        <!-- /.CARD 1 DE 3-->
        <div class="col-lg-3">
          <div class="card mb-4 shadow-sm">
            <div class="multiuse-pages-section-card-4-col-img"
              style="background-image:url(https://i.ibb.co/tzzztBY/robertomarena.jpg)">
            </div>
            <div class="card-body">
              <h3>Roberto Marena</h3>
              <p class="card-text py-2">Presidente do Conselho Executivo</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="#"
                    class="btn mat-focus-indicator mat-stroked-button mat-button-base btn-outline-secondary">Detalhes</a>
                </div>
                <small class="badge-pill btn-secondary">Pastor</small>
              </div>
            </div>
          </div>
        </div>

      </div><!-- /.row -->

      <div class="row">

        <!-- /.CARD 1 DE 3-->
        <div class="col-lg-3">
          <div class="card mb-4 shadow-sm">
            <div class="multiuse-pages-section-card-4-col-img"
              style="background-image:url(https://i.ibb.co/fkcNLNW/ilzarocha.jpg)">
            </div>
            <div class="card-body">
              <h3>Ilza Rocha</h3>
              <p class="card-text py-2">Vice Presidente do Conselho Executivo</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="#"
                    class="btn mat-focus-indicator mat-stroked-button mat-button-base btn-outline-secondary">Detalhes</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- /.CARD 1 DE 3-->
        <div class="col-lg-3">
          <div class="card mb-4 shadow-sm">
            <div class="multiuse-pages-section-card-4-col-img"
              style="background-image:url(https://i.ibb.co/BcPJJgf/antonioosmar.jpg)">
            </div>
            <div class="card-body">
              <h3>Antônio Osmar</h3>
              <p class="card-text py-2">Secretário Conselho Executivo</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="#"
                    class="btn mat-focus-indicator mat-stroked-button mat-button-base btn-outline-secondary">Detalhes</a>
                </div>
                <small class="badge-pill btn-secondary">Pastor</small>
              </div>
            </div>
          </div>
        </div>

        <!-- /.CARD 1 DE 3-->
        <div class="col-lg-3">
          <div class="card mb-4 shadow-sm">
            <div class="multiuse-pages-section-card-4-col-img"
              style="background-image:url(https://i.ibb.co/t2Xy6Rj/mariajosefina.jpg)">
            </div>
            <div class="card-body">
              <h3>Maria Josefina Lopes</h3>
              <p class="card-text py-2">Diretora Financeira Do Conselho Executivo</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <div class="btn-group">
                    <a href="#"
                      class="btn mat-focus-indicator mat-stroked-button mat-button-base btn-outline-secondary">Detalhes</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- /.CARD 1 DE 3-->
        <div class="col-lg-3">
          <div class="card mb-4 shadow-sm">
            <div class="multiuse-pages-section-card-4-col-img"
              style="background-image:url(https://i.ibb.co/R2P5W7R/marco-magno.jpg)">
            </div>
            <div class="card-body">
              <h3>Marco Magno</h3>
              <p class="card-text py-2">1º Conselheiro Fiscal</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="#"
                    class="btn mat-focus-indicator mat-stroked-button mat-button-base btn-outline-secondary">Detalhes</a>
                </div>
                <small class="badge-pill btn-secondary">Pastor</small>
              </div>
            </div>
          </div>
        </div>

      </div><!-- /.row -->

      <div class="row">

        <!-- /.CARD 1 DE 3-->
        <div class="col-lg-3">
          <div class="card mb-4 shadow-sm">
            <div class="multiuse-pages-section-card-4-col-img"
              style="background-image:url(https://i.ibb.co/rmB8DDc/regianetinonin.jpg)">
            </div>
            <div class="card-body">
              <h3>Regiane Tinonin</h3>
              <p class="card-text py-2">2ª Conselheira Fiscal</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="#"
                    class="btn mat-focus-indicator mat-stroked-button mat-button-base btn-outline-secondary">Detalhes</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- /.CARD 1 DE 3-->
        <div class="col-lg-3">
          <div class="card mb-4 shadow-sm">
            <div class="multiuse-pages-section-card-4-col-img"
              style="background-image:url(https://i.ibb.co/WVJWkQp/miltonalmeida.jpg)">
            </div>
            <div class="card-body">
              <h3>Milton de Almeida</h3>
              <p class="card-text py-2">3º Conselheiro Fiscal</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="#"
                    class="btn mat-focus-indicator mat-stroked-button mat-button-base btn-outline-secondary">Detalhes</a>
                </div>
                <small class="badge-pill btn-secondary">Pastor</small>
              </div>
            </div>
          </div>
        </div>



      </div><!-- /.row -->
    </div><!-- /.container -->
  </div><!-- /.container-fluid -->
</section><!-- /.multiuse-pages-section-destaque -->

<style>
  .multiuse-pages-section-card-4-col {
    background-color: #eeeeee;
    text-align: center;
    padding: 80px 0;
  }

  .multiuse-pages-section-card-4-col p {
    text-align: center;
  }

  .multiuse-pages-section-card-4-col .card {
    border-radius: 10px 10px 0 0;
  }

  .multiuse-pages-section-card-4-col-img {
    width: 100%;
    height: 140px;
    margin: 0 auto;
    padding: 0;
    border-radius: 10px 10px 0 0;
    background-position: top center;
    background-size: cover;
  }

  @media (min-width: 768px) and (max-width: 991.98px) {
    .multiuse-pages-section-card-4-col-img {
      height: 240px;
    }
  }
</style>
<!-- [FINAL] SECTION - CARD
  ================================================== -->